#map {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
}

.title {
  position: absolute;
  left: 8%;
  font-size: 22px;
  font-weight: bold;
  padding: 4px;
  color: white;
  z-index: 5;
}
